# Prediction of Coupon Redemption

## dependencies

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date

## data loading

In [7]:
offline_train = pd.read_csv("dataset/ccf_offline_stage1_train.csv")
online_train = pd.read_csv("dataset/ccf_online_stage1_train.csv")
offline_test = pd.read_csv("dataset/ccf_offline_stage1_test_revised.csv")

In [3]:
offline_train.head(100)

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN
...,...,...,...,...,...,...,...
95,114747,450,8555.0,30:5,7.0,20160128.0,NaN
96,114747,1569,5054.0,200:30,9.0,20160426.0,NaN
97,114747,1569,12961.0,100:30,9.0,20160129.0,NaN
98,114747,2454,NaN,NaN,0.0,NaN,20160509.0
99,114747,3381,11951.0,200:20,0.0,20160128.0,NaN

In [4]:
online_train.head()

,User_id,Merchant_id,Action,Coupon_id,Discount_rate,Date_received,Date
0,13740231,18907,2,100017492,500:50,20160513.0,NaN
1,13740231,34805,1,NaN,NaN,NaN,20160321.0
2,14336199,18907,0,NaN,NaN,NaN,20160618.0
3,14336199,18907,0,NaN,NaN,NaN,20160618.0
4,14336199,18907,0,NaN,NaN,NaN,20160618.0

In [5]:
offline_test.head()

   User_id  Merchant_id  Coupon_id Discount_rate  Distance  Date_received
0  4129537          450       9983          30:5       1.0       20160712
1  6949378         1300       3429          30:5       NaN       20160706
2  2166529         7113       6928        200:20       5.0       20160727
3  2166529         7113       1808        100:10       5.0       20160727
4  6172162         7605       6500          30:1       2.0       20160708

## feature engineering